:root {
    --primary-font: 'Roboto', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --primary-black-color: #2E2F42;
    --primary-white-color: #FFFFFF;
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --body-text-color: #434455;
    --helper-text-color: #8E8F99;
    --primary-success-color: #31D0AA;
    --primary-accent-color: #E7E9FC;
    --secondary-accent-color: #0288d1;
    --active-link-color: #f44336;
    --white: #FFF;
    --cloud: #F4F4FD;
}
h1,
h2,
h3 {
  margin: 0;
}

h2 {
    color: var(--primary-black-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

ul {
    list-style-type: none;
}
body {
    font-family: var(--primary-font);
    color: var(--body-text-color);
    background-color: var(--primary-white-color);
}
  
a {
    text-decoration: none;
}
address {
    font-style: normal;
}
header {
    border-bottom: 1px solid var(--primary-accent-color);
    background-color: var(--white);
}
.header-logo {
    font-family: var(--title-font);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
    color: var(--primary-brand-color);
}
.header-logo:link {
    text-decoration: none;
}

.header-logo-studio {
    color: var(--primar y-black-color);
}
.nav-menu:list {
    list-style: none;
}

.nav-menu-studio, .nav-menu-portfolio, .nav-menu-contacts {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
    color: var(--primary-black-color);
}

.section-studio-1 {
    background-color: var(--primary-black-color);
}
h1 {
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}
.order-service {
    background: var(--primary-brand-color);
    color: var(--primary-white-color);
    cursor: pointer;
    border: none;
}
h3 {
    color: var(--primary-black-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}
p {
    color: var(--body-text-color);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.portfolio-buttons-list {
    list-style: none;
}
.button-first {
    background-color: var(--cloud);
    color: var(--primary-brand-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    border: 1px solid var(--primary-accent-color);
    cursor: pointer;
   }
.button-item {
    background-color: var(--cloud);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    border: 1px solid var(--primary-accent-color);
    cursor: pointer;
    color: var(--primary-brand-color);
}
.button-first:hover,
.button-first:focus {
    color: var(--primary-white-color);
    background-color: var(--pressed-state-color);
}
.nav-menu-contacts:hover,
.nav-menu-contacts:focus {
    color: var(--pressed-state-color);
}
.button-item: {
    list-style: none;
}
.button-first:link {
    text-decoration: none;    
}
.portfolio-job-projects: {
    list-style: none; 
}
.portfolio-job-projects-item:link {
    text-decoration: none;   
}
.portfolio-job-projects-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
}
.portfolio-job-projects-theme {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}

.footer {
    background-color: var(--primary-black-color);
}
.footer-logo {
    font-family: var(--title-font);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
    color: var(--primary-brand-color);   
}
.footer-logo-studio {
    color: var(--cloud);
}
.footer-text {
    color: var(--cloud);
}
.footer-logo:link {
    text-decoration: none;
}